body {
	background-color: #003333;
	font-family: 'Kanit', sans-serif;
	padding:0;
	margin:0;
	overflow: hidden;
}
.wrapper {
	padding:0;
	margin:0;
	display:flex;
	flex-direction: column;
	width: 100vh;
	height:100vw;
}
.header {
	position: relative;
	top:2vh;
	display: flex;
	justify-content: center;
	width: 100vw;
	height:auto;
}
.header img {
	width:1300px;
	height:55px;
}
#available_rooms {
	width: 100vw;
	display:flex;
	justify-content: center;
}