body {
	background-color: black;
	font-family: 'Kanit', sans-serif;
	padding:0;
	margin:0;
}
.titletitle {
	position: relative;
	font-family: Kanit;
	font-weight: 800;
	color:#DDDDDD;
	left:200px;
}
#voting_buttons {
	position: absolute;
	display:flex;
	height:60px;
	width: 100%;
	justify-content: space-between;
}
.vote {
	width:50px;
	height:50px;
	cursor: pointer;
	padding:4px;
}
#yay {
	border: 2px solid orange;
}
#poop {
	border: 2px solid green;
}
#lies {
	border: 2px solid teal;
}
#scary {
	border:2px solid purple;
}
#agreed {
	border:2px solid #ffcc00;
}
.twitwidget {
	padding-top:110px;
	margin-left:60px;
}
.graph {
	position: relative;
	top:0px;
	z-index:5;
}
.header {
	position: relative;
	top:2vh;
	display: flex;
	justify-content: center;
	width: 100vw;
	height:auto;
}
.header img {
	width:1300px;
	height:55px;
}
.wrapper {
	position: relative;
	height: 50vh;
	width:100vw;
	display:flex;
	align-items:center;
	justify-content: center;
}
#available_rooms {
	width: 100vw;
	display:flex;
	justify-content: center;
}
#rooms_list {
	list-style-type: none;
	padding: 0;

}
.room_link {
	width:500px;
	height:100px;
	padding:0;
	border:2px yellow solid;
	margin: 5px;
	background-color:rgba(255,255,0,0.6));
	overflow:hidden;
}
.roomtitle{
	position: absolute;
	top:100px;
	width:100%;
}
.youtubevid {
	position:relative;
	width:560;
	height:315;
}
a {
	text-decoration: none;
	padding:0;
	margin: 0;
}
@media screen and (max-width: 415px) {
	iframe {
		display:none;
	}
	.titletitle {
		text-align: center;
		left:0;
	}
	.header img {
	width:245%;
	height:55px;
	}
	.wrapper { 
		flex-direction: column;
		height:100%;
	}
	.twitwidget{
		margin-left:0;
		top:20px;
	}
	#voting_buttons {
		position: relative;
		top:20px;
		height:140px;
		width:100%;
		justify-content:center;
		align-content: center;
		flex-wrap: wrap;
	}
	body {
		overflow:visible;	
	}
	.graph {
		width: 415px;
		height:315px;
	}
}